@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"); /* Обнуляющий стиль */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  color: inherit;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

body,
html {
  height: 100%;
  line-height: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: roboto;
  overflow-x: hidden;
}

[class*=__conteiner] {
  max-width: 1050px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* ================================================================ */
.header {
  background: url("../img/header/fon2.png") center/cover;
  color: #fff;
  padding: 26px 15px 0 15px;
}
.header__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-header-info {
  margin-bottom: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header-header-info .header-header-info__hours {
  margin-right: 48px;
}
@media (max-width: 690px) {
  .header-header-info .header-header-info__hours {
    display: none;
  }
}
.header-header-info .header-header-info__call {
  margin-right: 30px;
}
@media (max-width: 690px) {
  .header-header-info .header-header-info__call {
    display: none;
  }
}
.header-header-info .header-header-info__wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-header-info p {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
}
.header-header-info__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  max-width: 174px;
  max-height: 41px;
}
.header-header-info__hours {
  position: relative;
}
.header-header-info__hours-p1 {
  margin-bottom: 12px;
}
.header-header-info__hours::before {
  content: "";
  background: url("../img/header/access_time_24px.svg") center/cover no-repeat;
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: -30px;
}
.header-header-info__call {
  position: relative;
}
.header-header-info__call-p1 {
  margin-bottom: 12px;
}
.header-header-info__call::before {
  content: "";
  background: url("../img/header/phone_24px.svg") center/cover no-repeat;
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: -30px;
}
.header-header-info__batton {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 55%;
  color: #FFFFFF;
  background: #F2726F;
  border-radius: 8px;
  display: block;
  padding: 16px 40px;
  text-transform: uppercase;
  -ms-flex-item-align: center;
      align-self: center;
  cursor: pointer;
}
@media (max-width: 800px) {
  .header-header-info__batton {
    display: none;
  }
}

.header-header-menu {
  margin-bottom: 126px;
  width: 100%;
  background: #FFFFFF;
  border-radius: 10px;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 730px) {
  .header-header-menu {
    display: none;
  }
}
.header-header-menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 22px 0;
}
.header-header-menu__item {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  cursor: pointer;
}
.header-header-menu__link {
  padding-left: 37px;
}
.header-header-menu .header-header-menu__icon {
  margin-right: 22px;
}
.header-header-menu .header-header-menu__icon2 {
  margin-right: 48px;
}

.header-header-menu-burger {
  width: 48px;
  height: 48px;
  position: relative;
  display: none;
  margin-right: 20xp;
}
@media (max-width: 730px) {
  .header-header-menu-burger {
    display: block;
  }
}
.header-header-menu-burger::before {
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
}
.header-header-menu-burger::after {
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #fff;
}
.header-header-menu-burger__line {
  width: 100%;
  height: 4px;
  position: absolute;
  background: #fff;
  top: 23px;
  left: 0;
}

.header-tatle {
  font-style: normal;
  font-weight: 900;
  font-size: 56px;
  line-height: 100%;
  max-width: 583px;
  margin-bottom: 48px;
}
@media (max-width: 690px) {
  .header-tatle {
    font-size: 45px;
  }
}
@media (max-width: 450px) {
  .header-tatle {
    font-size: 35px;
  }
}

.header-button {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 55%;
  color: #FFFFFF;
  background: #F2726F;
  border-radius: 8px;
  display: block;
  padding: 21px 35px;
  text-transform: uppercase;
  -ms-flex-item-align: start;
      align-self: flex-start;
  cursor: pointer;
  margin-bottom: 312px;
}
@media (max-width: 690px) {
  .header-button {
    margin-bottom: 200px;
  }
}

.whoweare-fon {
  background: #5D62B5;
  border-radius: 40px;
  width: 100%;
  margin-top: -83px;
  padding: 0 15px;
  max-height: 700px;
  position: relative;
  margin-bottom: 170px;
}

.whoweare-content {
  max-width: 846px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.whoweare-content__logo {
  margin-bottom: 33px;
  position: relative;
}
.whoweare-content__logo::before {
  content: "";
  width: 27px;
  height: 27px;
  display: block;
  position: absolute;
  top: -2px;
  left: -3px;
  background: url("../img/whoweare/whologo.png") center/cover no-repeat;
}
.whoweare-content__logo-p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 200%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #F5F5F5;
  padding-left: 30px;
}
.whoweare-content__tatle {
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  color: #F5F5F5;
  margin-bottom: 36px;
}
@media (max-width: 423.98px) {
  .whoweare-content__tatle {
    font-size: 28px;
    margin-bottom: 20px;
    line-height: 40px;
  }
}
.whoweare-content__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.15px;
  color: #F5F5F5;
  margin-bottom: 54px;
}
@media (max-width: 423.98px) {
  .whoweare-content__text {
    margin-bottom: 25px;
    line-height: 150%;
  }
}
.whoweare-content .whoweare-content__picture {
  position: relative;
  max-width: 846px;
  max-height: 420px;
  width: 100%;
  border-radius: 40px;
  background: url("../img/whoweare/whodog.png") center/cover no-repeat;
  padding: 0 0 50% 0;
  z-index: 3;
}

.decore__point {
  position: absolute;
  top: -20%;
  right: -10%;
  padding-left: 20px;
}
@media (max-width: 1260px) {
  .decore__point {
    display: none;
  }
}
.decore__spot {
  position: absolute;
  bottom: -10%;
  left: -3%;
  z-index: 1;
}
@media (max-width: 1130px) {
  .decore__spot {
    display: none;
  }
}

.logo {
  margin-bottom: 33px;
  position: relative;
}
.logo::before {
  content: "";
  width: 27px;
  height: 27px;
  display: block;
  position: absolute;
  top: -2px;
  left: -3px;
  background: url("../img/whoweare/whologo.png") center/cover no-repeat;
}

.promise__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.promise-logo {
  margin-bottom: 33px;
  position: relative;
}
.promise-logo::before {
  content: "";
  width: 27px;
  height: 27px;
  display: block;
  position: absolute;
  top: -2px;
  left: -3px;
  background: url("../img/promise/logoprom.svg") center/cover no-repeat;
}

.promise-logo__p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 200%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #5D62B5;
  padding-left: 30px;
}

.promise-tatle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 117%;
  padding-bottom: 68px;
  color: #000000;
}

.promise-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  margin: 0 -12px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-width: 320px;
}

.promise-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  padding: 0 12px;
  min-width: 320px;
}
@media (max-width: 420px) {
  .promise-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.promise__item-icon {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-right: 23px;
}

.promise__content-tatle {
  font-style: normal;
  font-weight: 900;
  font-size: 19px;
  line-height: 137%;
  color: #F2726F;
  margin-bottom: 20px;
}
@media (max-width: 420px) {
  .promise__content-tatle {
    text-align: center;
  }
}

.promise__content-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.15px;
  color: #4B4B4B;
  margin-bottom: 41px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.dog {
  background: #29C3BE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 15px;
}
@media (max-width: 575px) {
  .dog {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.dog-left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
.dog-left__dog {
  position: relative;
  padding: 0 0 68% 0;
}
.dog-left__dog-img {
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: -17px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.dog-rigch {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  background: url("../img/dog/Line 1.svg") 0 0 no-repeat;
}
@media (max-width: 1380px) {
  .dog-rigch {
    background: none;
  }
}
.dog-rigch__boll {
  position: relative;
  -webkit-transform: scale(100%);
      -ms-transform: scale(100%);
          transform: scale(100%);
  bottom: 5%;
  left: 67%;
}
@media (max-width: 1441px) {
  .dog-rigch__boll {
    left: 77%;
  }
}
@media (max-width: 1380px) {
  .dog-rigch__boll {
    left: 50%;
    bottom: 10%;
    -webkit-transform: scale(70%);
        -ms-transform: scale(70%);
            transform: scale(70%);
  }
}
@media (max-width: 1170px) {
  .dog-rigch__boll {
    left: 50%;
    bottom: 15%;
    -webkit-transform: scale(55%);
        -ms-transform: scale(55%);
            transform: scale(55%);
  }
}
@media (max-width: 900px) {
  .dog-rigch__boll {
    left: 50%;
    bottom: 20%;
    -webkit-transform: scale(45%);
        -ms-transform: scale(45%);
            transform: scale(45%);
  }
}
@media (max-width: 820px) {
  .dog-rigch__boll {
    display: none;
  }
}
.dog-rigch__boll-img {
  -o-object-fit: cover;
     object-fit: cover;
}

.dog-rigch-content {
  max-width: 410px;
  position: relative;
  top: 18%;
  left: 15%;
}
@media (max-width: 768px) {
  .dog-rigch-content {
    max-width: 300px;
  }
}
@media (max-width: 686px) {
  .dog-rigch-content {
    max-width: 200px;
  }
}
.dog-rigch-content__tatle {
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 117%;
  color: #FFFFFF;
}
@media (max-width: 768px) {
  .dog-rigch-content__tatle {
    font-size: 30px;
  }
}
@media (max-width: 686px) {
  .dog-rigch-content__tatle {
    font-size: 22px;
  }
}
.dog-rigch-content__button {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 55%;
  color: #FFFFFF;
  background: #F2726F;
  border-radius: 8px;
  display: block;
  padding: 16px 30px;
  text-transform: uppercase;
  -ms-flex-item-align: center;
      align-self: center;
  cursor: pointer;
  max-width: 210px;
  margin-top: 42px;
}

.services {
  background: #F5F5F5;
}
.services__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.services__tatle {
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 117%;
  color: #000000;
  margin-bottom: 36px;
}
@media (max-width: 653px) {
  .services__tatle {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.services__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(33.333% - 48px);
          flex: 1 1 calc(33.333% - 48px);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -12px 68px -12px;
  row-gap: 24px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 653px) {
  .services__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.services__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 112px;
}
.services__button-link {
  font-style: normal;
  max-width: 124px;
  font-weight: 700;
  font-size: 12px;
  line-height: 55%;
  color: #FFFFFF;
  background: #F2726F;
  border-radius: 8px;
  display: block;
  padding: 16px 25px;
  text-transform: uppercase;
  -ms-flex-item-align: center;
      align-self: center;
  cursor: pointer;
}

.services-logo {
  position: relative;
  margin: 110px 0 33px 0;
}
.services-logo::before {
  content: "";
  width: 27px;
  height: 27px;
  display: block;
  position: absolute;
  top: -2px;
  left: -3px;
  background: url("../img/promise/logoprom.svg") center/cover no-repeat;
}
.services-logo__p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 200%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #5D62B5;
  padding-left: 30px;
}

.services-item {
  max-width: 324px;
  background: #FFFFFF;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.services-item:hover {
  -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, -3px 30px 0px 20px rgba(0, 0, 0, 0);
  box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, -3px 30px 0px 20px rgba(0, 0, 0, 0);
}
.services-item__icon {
  margin: 0 auto;
}
.services-item__icon-img {
  padding: 50px 0 33px 0;
}
.services-item__tatle {
  font-style: normal;
  font-weight: 900;
  font-size: 19px;
  line-height: 137%;
  text-align: center;
  color: #F2726F;
  margin-bottom: 20px;
}
.services-item__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.15px;
  color: #4B4B4B;
  padding-bottom: 50px;
}

.form {
  background: url("../img/form/formfon.png") center/cover no-repeat;
  position: relative;
  z-index: 2;
}
@media (max-width: 1165) {
  .form {
    background: none;
  }
}
.form .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 0 -55px;
  position: relative;
}
@media (max-width: 1250px) {
  .form .wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
  }
}

.block-form {
  padding: 0 55px;
}
.block-form__wrapper-form {
  background: #5D62B5;
  border-radius: 40px;
  max-width: 585px;
  padding: 76px 57px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 110px 0 210px 0;
  position: relative;
  z-index: 5;
}
@media (max-width: 1250px) {
  .block-form__wrapper-form {
    margin: 10px 0 100px 0;
  }
}
@media (max-width: 360px) {
  .block-form__wrapper-form {
    padding: 50px 25px;
  }
}
.block-form__tale {
  margin-bottom: 43px;
}
.block-form__tale-text {
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 117%;
  text-align: center;
  color: #FFFFFF;
}
.block-form__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 22px;
  margin: 0 -11px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.block-form__items:not(:last-child) {
  margin-bottom: 50px;
}
.block-form__item {
  padding: 0 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.block-form__item-input {
  background: #5D62B5;
  border: rgba(255, 255, 255, 0.8156862745) 2px solid;
  border-radius: 10px;
  min-width: 224px;
  width: 100%;
  padding: 14.5px 0 14.5px 0;
}
@media (max-width: 723px) {
  .block-form__item-input {
    max-width: none;
  }
}
.block-form__item-input::-webkit-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.15px;
  color: #FFFFFF;
  padding-left: 20px;
}
.block-form__item-input::-moz-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.15px;
  color: #FFFFFF;
  padding-left: 20px;
}
.block-form__item-input:-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.15px;
  color: #FFFFFF;
  padding-left: 20px;
}
.block-form__item-input::-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.15px;
  color: #FFFFFF;
  padding-left: 20px;
}
.block-form__item-input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.15px;
  color: #FFFFFF;
  padding-left: 20px;
}
.block-form .block-form__item-textarea-wrapper {
  -ms-flex-item-align: start;
      align-self: flex-start;
  max-width: 470px;
  width: 100%;
  position: relative;
}
.block-form .block-form__item-textarea {
  border: rgba(255, 255, 255, 0.8156862745) 2px solid;
  background: #5D62B5;
  border-radius: 10px;
  max-width: 470px;
  min-height: 180px;
  width: 100%;
  -ms-flex-item-align: start;
      align-self: flex-start;
  resize: none;
}
.block-form .block-form__item-textarea::-webkit-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.15px;
  color: #FFFFFF;
  padding-left: 20px;
}
.block-form .block-form__item-textarea::-moz-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.15px;
  color: #FFFFFF;
  padding-left: 20px;
}
.block-form .block-form__item-textarea:-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.15px;
  color: #FFFFFF;
  padding-left: 20px;
}
.block-form .block-form__item-textarea::-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.15px;
  color: #FFFFFF;
  padding-left: 20px;
}
.block-form .block-form__item-textarea::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.15px;
  color: #FFFFFF;
  padding-left: 20px;
}
.block-form__item-button {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 55%;
  color: #FFFFFF;
  background: #F2726F;
  border-radius: 8px;
  display: block;
  padding: 21px 33px;
  text-transform: uppercase;
  -ms-flex-item-align: center;
      align-self: center;
  cursor: pointer;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: 30px;
}

.content-form {
  padding: 0 55px 240px 55px;
}
@media (max-width: 1250px) {
  .content-form {
    padding: 20px 0 0 0;
  }
}
.content-form__items {
  max-width: 324px;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 900;
}
.content-form__items:not(:last-child) {
  margin-bottom: 46px;
}
.content-form__header {
  font-size: 30px;
  line-height: 120%;
}
.content-form__naber {
  font-size: 96px;
  line-height: 58%;
  margin-top: 46px;
}
.content-form__footer {
  font-size: 19px;
  line-height: 137px;
}

.block-form__decore-spot {
  position: absolute;
  left: -13%;
  top: 0%;
  z-index: 2;
}
@media (max-width: 1250px) {
  .block-form__decore-spot {
    display: none;
  }
}

.block-form__decore-point {
  position: absolute;
  top: 25%;
  left: -5%;
}
@media (max-width: 1250px) {
  .block-form__decore-point {
    display: none;
  }
}

.gallery {
  background: #F5F5F5;
  position: relative;
  z-index: 3;
}
.gallery__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.gallery-fon {
  background: #5D62B5;
  border-radius: 40px;
  width: 100%;
  margin-top: -90px;
  padding: 0 87px;
}
@media (max-width: 768px) {
  .gallery-fon {
    padding: 0 50px;
  }
}
@media (max-width: 380px) {
  .gallery-fon {
    padding: 0 20px;
  }
}
.gallery-fon__logo {
  margin: 100px 0 33px 0px;
  position: relative;
}
@media (max-width: 652px) {
  .gallery-fon__logo {
    margin: 50px 0 20px 0;
  }
}
@media (max-width: 435px) {
  .gallery-fon__logo {
    margin: 30px 0 20px 0;
  }
}
.gallery-fon__logo::before {
  content: "";
  width: 27px;
  height: 27px;
  display: block;
  position: absolute;
  top: -2px;
  left: -3px;
  background: url("../img/whoweare/whologo.png") center/cover no-repeat;
}
.gallery-fon__logo-p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 200%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #F5F5F5;
  padding-left: 30px;
}
.gallery-fon__tatle {
  margin-bottom: 55px;
}
@media (max-width: 652px) {
  .gallery-fon__tatle {
    margin: 0px 0 30px 0;
    font-size: 24px;
  }
}
@media (max-width: 435px) {
  .gallery-fon__tatle {
    margin: 0px 0 20px 0;
    font-size: 18px;
  }
}
.gallery-fon__tatle-p {
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 117%;
  color: #FFFFFF;
}
.gallery-fon__picture {
  padding: 0 0 62% 0;
  border-radius: 40px;
  margin-bottom: -100px;
  background: url("../img/gallery/gallerydog.png") center/cover no-repeat;
}
@media (max-width: 652px) {
  .gallery-fon__picture {
    margin: px 0 -50px 0;
  }
}
@media (max-width: 600px) {
  .gallery-fon__picture {
    margin: 0px 0 0px 0;
  }
}

.gallery-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 20px;
}
.gallery-row__element {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 140px;
}
.gallery-row__element:hover {
  font-weight: 700;
  border-bottom: #F5F5F5 2px solid;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.gallery-row__element-p {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.15px;
  color: #FFFFFF;
  border-bottom: #F5F5F5 1px solid;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0 10px;
}

.gallery-row__element-after::before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #F5F5F5;
  position: absolute;
  right: 13%;
  top: -8%;
}
@media (max-width: 1023px) {
  .gallery-row__element-after::before {
    display: none;
  }
}

.customers {
  background: #F5F5F5;
  position: relative;
  z-index: 1;
  padding-bottom: 10%;
}
.customers__logo {
  position: relative;
  margin: 110px 0 33px 0;
  z-index: 2;
}
.customers__logo::before {
  content: "";
  width: 27px;
  height: 27px;
  display: block;
  position: absolute;
  top: -2px;
  left: -3px;
  background: url("../img/promise/logoprom.svg") center/cover no-repeat;
}
.customers__logo-p {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 200%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #5D62B5;
  padding-left: 30px;
}

.customers-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  z-index: 2;
  row-gap: 15px;
  margin: 0 -12px;
}
.customers-content__tatle {
  max-width: 324px;
  padding: 45px 12px;
}
.customers-content__tatle-h3 {
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 117%;
  color: #000000;
}
.customers-content__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  padding: 0 12px;
}
.customers-content__item {
  min-width: 320px;
  background: #FFFFFF;
  border-radius: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 45px;
  row-gap: 30px;
}
.customers-content__item-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.15px;
  color: #4B4B4B;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.customers-content__item-aftor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.customers-content__item-aftor-img {
  padding-right: 17px;
}
.customers-content__item-aftor-p {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.15px;
  color: #F2726F;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.customers-decore {
  position: absolute;
  left: 0%;
  top: -180%;
  z-index: 1;
}
@media (max-width: 1023px) {
  .customers-decore {
    display: none;
  }
}

.impact {
  position: relative;
  z-index: 3;
  background: #29C3BE;
}
.impact__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 25px;
  position: relative;
}

.impact-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 112px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 958px) {
  .impact-header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.impact-header__wrapper-tatle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.impact-header__logo {
  margin-bottom: 33px;
  position: relative;
}
.impact-header__logo::before {
  content: "";
  width: 27px;
  height: 27px;
  display: block;
  position: absolute;
  top: -2px;
  left: -3px;
  background: url("../img/whoweare/whologo.png") center/cover no-repeat;
}
.impact-header__logo-p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 200%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #F5F5F5;
  padding-left: 30px;
}
.impact-header__tatle {
  max-width: 411px;
}
@media (max-width: 795px) {
  .impact-header__tatle {
    max-width: 350px;
  }
}
.impact-header__tatle-p {
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  color: #F5F5F5;
  margin-bottom: 36px;
}
@media (max-width: 795px) {
  .impact-header__tatle-p {
    font-size: 30px;
    text-align: center;
  }
}
.impact-header__picture {
  background: url("../img/inpact/Image.png") center/contain no-repeat;
  padding: 0 0 32% 0;
  border-radius: 40px;
  max-width: 498px;
  max-height: 315px;
  width: 100%;
  margin-top: -20%;
  position: relative;
  z-index: 4;
}
@media (max-width: 1065px) {
  .impact-header__picture {
    margin: 0;
  }
}
.impact-header__decore {
  position: absolute;
  top: 0;
  right: -3%;
}
@media (max-width: 1065px) {
  .impact-header__decore {
    display: none;
  }
}

.impact-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 200px;
}
@media (max-width: 1024px) {
  .impact-main {
    margin-bottom: 100px;
  }
}
@media (max-width: 490px) {
  .impact-main {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 50px;
  }
}

.impact-main-blok {
  padding: 25px;
}
.impact-main-blok__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -34px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  min-width: 237px;
}
.impact-main-blok__icon {
  min-width: 76px;
}
.impact-main-blok__text {
  padding: 0 34px;
}
.impact-main-blok__text-number {
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 117%;
  color: #FFFFFF;
}
.impact-main-blok__text-p {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 150%;
  color: #5D62B5;
}

.impact-footer {
  background: #5D62B5;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 70px;
  margin-bottom: -70px;
}
@media (max-width: 640px) {
  .impact-footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.impact-footer__text {
  max-width: 562px;
  padding: 15px;
}
@media (max-width: 500px) {
  .impact-footer__text {
    padding: 10px;
  }
}
@media (max-width: 375px) {
  .impact-footer__text {
    padding: 5px;
  }
}
.impact-footer__text-p {
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 125%;
  color: #FFFFFF;
}
@media (max-width: 500px) {
  .impact-footer__text-p {
    font-size: 16px;
  }
}
.impact-footer__button-p {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 55%;
  color: #FFFFFF;
  background: #F2726F;
  border-radius: 8px;
  display: block;
  padding: 21px 33px;
  text-transform: uppercase;
  cursor: pointer;
  white-space: nowrap;
}

.footer {
  padding-top: 160px;
  width: 100%;
}
@media (max-width: 620px) {
  .footer {
    padding-top: 100px;
  }
}
.footer__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
@media (max-width: 620px) {
  .footer__conteiner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 320px;
  }
}

.footer-logo-blok {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 235px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.15px;
  color: #4B4B4B;
}
@media (max-width: 620px) {
  .footer-logo-blok {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.footer-logo-blok__logo {
  margin-bottom: 23px;
}
.footer-logo-blok__text {
  margin-bottom: 33px;
}
@media (max-width: 620px) {
  .footer-logo-blok__text {
    text-align: center;
  }
}
.footer-logo-blok__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -9px;
}
.footer-logo-blok__icon {
  padding: 0 9px;
}
.footer-link-blok {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 157%;
  letter-spacing: 0.15px;
  color: #4B4B4B;
}
.footer-tatle {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.15px;
  color: #4B4B4B;
  padding-top: 13px;
  margin-bottom: 28px;
}
@media (max-width: 620px) {
  .footer-tatle {
    text-align: center;
  }
}

.footer-link-blok-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -18px;
}
@media (max-width: 620px) {
  .footer-link-blok-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.footer-link-blok-menu__items {
  padding: 0 18px;
}
.footer-link-blok-menu__items :not(:last-child) {
  margin-bottom: 11px;
}
.footer-link-blok-menu__item {
  min-width: 160px;
  width: 100%;
}
@media (max-width: 620px) {
  .footer-link-blok-menu__item {
    min-width: 64px;
    text-align: center;
  }
}
.footer-contact {
  max-width: 237px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 100px;
}
@media (max-width: 857px) {
  .footer-contact {
    padding: 0;
    margin-top: 30px;
    max-width: none;
  }
}
@media (max-width: 620px) {
  .footer-contact__tatle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
}
@media (max-width: 620px) {
  .footer-contact__tatle {
    text-align: center;
  }
}
.footer-contact__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer-contact__items :not(:last-child) {
  padding-bottom: 16px;
}
@media (max-width: 857px) {
  .footer-contact__items {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media (max-width: 620px) {
  .footer-contact__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.footer-contact__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -12;
}
@media (max-width: 620px) {
  .footer-contact__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 620px) {
  .footer-contact-item-img {
    margin: 0 auto;
  }
}

.footer-contact-item-p {
  padding: 0 12px;
}
@media (max-width: 857px) {
  .footer-contact-item-p {
    line-height: 150%;
  }
}
@media (max-width: 620px) {
  .footer-contact-item-p {
    text-align: center;
  }
}

.footer-footer {
  background: #5D62B5;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.15px;
  color: #FFFFFF;
}
.footer-footer__info {
  padding: 20px 0;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 620px) {
  .footer-footer__info__tatle {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.footer-footer__text {
  padding: 0 180px;
}
@media (max-width: 1067px) {
  .footer-footer__text {
    padding: 0 100px;
  }
}
@media (max-width: 620px) {
  .footer-footer__text {
    padding: 0 50px;
  }
}
.footer-footer__text-bolt {
  font-weight: 700;
}